/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-form-field {
  width: 100%;
}
mat-form-field:first-child {
  margin-top: 20px;
}
form button[mat-flat-button] {
  margin-top: 10px;
  margin-right: 10px;
}

h3.heading {
  margin-top: 20px;
}
